@import "../../../css-config/mixins.scss";

.offer-banner{
    padding: 2.5rem 0;
    position: relative;
    background-color: #FFDF01;
    @include md{
        height: calc(80vh - 5rem);
    }

    .content{
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 1.25rem);
        margin: 0 auto;
        position: relative;
        @include xl{
            flex-direction: row;
            max-width: 80rem;
        }

        .offer-img{
            position: relative;
            z-index: 9;
            width: 15.25rem;
            margin-bottom: 1.25rem;
            @include xl{
                width: 25.25rem;
                top: 50%
            }
            @include xxl{
                width: 30rem;
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .text-content{
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include xl{
                position: absolute;
                left: 3.125rem;
                top: 90%;
                transform: translateY(-50%);
            } 

            @include xxl{
                left: 0;
            }

            #title{
                font-size: 5rem;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 1.25rem;
                @include xl{
                    font-size: 2.25rem;
                } 
            } 

            #copy-text{
                max-width: 18.75rem; 
                font-size: 0.875rem;
                line-height: 1.25rem;
                margin-bottom: 1.25rem;
                @include xl {
                  max-width: 31.25rem;
                  font-size: 1.125rem;
                  line-height: 1.5rem;
                  margin-bottom: 2.5rem;  
                }
            }

            .button{
                display: flex;
                justify-content: center;
                gap: 1.25rem;

                .btn{
                    text-transform: uppercase;
                    font-size: 0.813rem;
                    font-weight: 500;
                    border: 0.125rem solid black;
                    padding: 0.625rem 1.25rem;
                    cursor: pointer;
                    background: none;
                    background-color: black;
                    color:#FFDF01;
                }
                
                .btn:hover{
                    background-color: transparent; 
                    color: black;
                    transition: ease-in-out 0.2s;
                }
            }

            .notification{
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }
    }

}


     


















