@import "../../css-config/mixins.scss";

.footer {
    width: 100%;
    background-color: black;

    .footer-content {
        padding: 3.125rem 1.25rem;
        max-width: 75rem;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        gap: 1.25rem;

        @include md {
            justify-content: space-between;
            padding: 3.125rem 0;
        }

        .col{
            max-width: 18.75rem ;
            margin: 1.25rem;
            .title {
                color: #FFDF01;
                margin-bottom: 1.25rem;
                font-size: 0.875rem;
            }

            .text {
                color: #FFDF01;
                font-size: 0.875rem;
            }

            .c-item {
                display: flex;
                margin-bottom: 0.625rem;

                a{
                    text-decoration: none;
                    color: #FFDF01;
                }

                svg {
                    flex-shrink: 0;
                    font-size: 0.875rem;
                    margin-right: 0.625rem;
                    margin-top: 0.25rem;
                    color: #FFDF01;
                }

            }
            
            span{
                &.text{
                    display: block;
                    margin-bottom: 0.625rem;
                    cursor: pointer;
                }
            }
        }
    }
    .bottom-bar{
        border-top: 0.063rem solid #FFDF01;
        .bottom-bar-content{
            padding: 1.25rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 0.625rem;

            @include xl{
                padding: 0;
                height: 3.75rem;
                max-width: 75rem;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
            }

            .text{
                font-size: 0.75rem;
                color: #FFDF01;
            }

            #dev{
                text-decoration: none;
                color: #FFDF01;
            }
        }



    }
}